@model Solar

<br />
<h2>Update @Model.EnglishName</h2>
<div class="form-container">
    @using (Html.BeginForm("UpdateInfoToDatabase", "Solar", "Post"))
    {
        <input asp-for="BodyID" type="hidden" value="@Model.BodyID" />

        <label asp-for="EnglishName" class="control-label">EnglishName</label>
        <input type="text" name="EnglishName" class="form-control" value="@Model.EnglishName" />

        <label asp-for="TypeOf" class="control-label">Type of Body</label>
        <input type="text" name="TypeOf" class="form-control" value="@Model.TypeOf" />

        <label asp-for="DistanceFrom" class="control-label">Distance From</label>
        <input type="text" name="DistanceFrom" class="form-control" value="@Model.DistanceFrom" />

        <label asp-for="Gravity" class="control-label">Gravity</label>
        <input type="text" name="Gravity" class="form-control" value="@Model.Gravity" />

        <label asp-for="AverageTemp" class="control-label">Average Temperature</label>
        <input type="text" name="AverageTemp" class="form-control" value="@Model.AverageTemp" />

        <label asp-for="Moons" class="control-label">Moons</label>
        <input type="number" step="0.01" name="Moons" class="form-control" value="@Model.Moons" />

        <label asp-for="DiscoveredBy" class="control-label">Discovered By</label>
        <input type="text" name="DiscoveredBy" class="form-control" value="@Model.DiscoveredBy" />

        <br />
        <input id="w_button" class="w_item" type="submit" value="Update Solar" />
    }

</div>
<br />